## Data Encoding
Suppose you have data of students degree now degree is in the form of alphabates and model cant understand it so thats why we need encoding to change categorical data into numerical data.

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

## Nominal/OHE Encoding
One hot encoding also known as nominal encoding is a technique used to represent categorical data which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds  to a unique category. For example, if we have a categorical variable "color" with three possible values (red,green,blue) we can represent it using one hot encoding as follows:
1. Red:(1,0,0)
2. Green:(0,1,0)
3. Blue:(0,0,1)

DisAdvantage:
we cant use it with a large amount of categorical data.

In [46]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [47]:
## Create a simple dataframe
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [7]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
## creatte an instance of onehotencoder
encode=OneHotEncoder()

In [16]:
## perform fit and then transform
encoded=encode.fit_transform(df[['color']]).toarray()
## Fit transform
# Fit the encoder on the 'color' column to learn unique categories and 
# transform them into a one-hot encoded sparse matrix representation.


## to array
# Convert the sparse matrix into a dense NumPy array

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [14]:
encoded_df=pd.DataFrame(encoded,columns=encode.get_feature_names_out())

In [15]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [17]:
## for new data

encode.transform([['blue']]).toarray()

c:\Users\91630\Desktop\Data Analyst Course\2-Feature Engineering\ipykernel\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [18]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [21]:
import seaborn as sns
df=sns.load_dataset('tips')

In [22]:
df['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [27]:
encoded=encode.fit_transform(df[['sex']])

In [30]:
data=encoded.toarray()

In [33]:

# import pandas as pd
encoded_df=pd.DataFrame(data,columns=encode.get_feature_names_out())

In [34]:
encoded_df

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

In [44]:
output=pd.concat([df['sex'],encoded_df],axis=1)

In [45]:
output

        sex  sex_Female  sex_Male
0    Female         1.0       0.0
1      Male         0.0       1.0
2      Male         0.0       1.0
3      Male         0.0       1.0
4    Female         1.0       0.0
..      ...         ...       ...
239    Male         0.0       1.0
240  Female         1.0       0.0
241    Male         0.0       1.0
242    Male         0.0       1.0
243  Female         1.0       0.0

[244 rows x 3 columns]